In [ ]:
Aisha Beevi K M _______________________________________________________________________________________ 24-8-2022

# P1-create & display 1d array like object

In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd

In [8]:

import pandas as pd
ar=[8,4,2,9] 
a=pd.Series(ar)
print(a) 
print(a[1])

0    8
1    4
2    2
3    9
dtype: int64
4

# P2-add,subtract,multiply,divide 2 pandas series

In [10]:

s1=pd.Series([10,9,8,2]) 
s2=pd.Series([5,3,4,2]) 
print("sum:")
print(s1+s2)
print("difference:")
print(s1-s2)
print("product:")
print(s1*s2)
print("Quotient:")
print(s1/s2)

sum:
0    15
1    12
2    12
3     4
dtype: int64
difference:
0    5
1    6
2    4
3    0
dtype: int64
product:
0    50
1    27
2    32
3     4
dtype: int64
Quotient:
0    2.0
1    3.0
2    2.0
3    1.0
dtype: float64

In [3]:
#P3-create dataframe & save as csv 
d={"index":[1,2,3,4],"color":["blue","black","red","green"]} 
df=pd.DataFrame(d) 
print(df) 
df.to_csv('colors.csv',index=False) 
df=pd.read_csv('colors.csv')

   index  color
0      1   blue
1      2  black
2      3    red
3      4  green

In [ ]:
Aisha Beevi K M _______________________________________________________________________________________ 26-8-2022

# P4-create & display dataframe from specified dictionary data

In [6]:

import numpy as np

exam_details={
    'name':["Annie","Jean","Christa","Marco","Eren","Armin","Mikasa","Sasha","Levi","Erwin"],
    'score':[74,88,5,9,np.nan,96,90,62,np.nan,98],
    'attempts':[3,1,2,1,5,1,2,3,2,1],
    'qualify':['yes', 'yes' ,'no','no', 'yes' ,'yes' , 'yes' , 'no' ,'yes' ,'yes' ]
} 
df=pd.DataFrame(exam_details)
print(df)

print(df[['name','qualify']]) 
print(df[df['attempts']>2]) 
print("total rows:",len(df.axes[0])) 
print("total columns:",len(df.axes[1])) 
print(df[(df['attempts']<2) &(df['score']>10)])
print(df[df['score'].isnull()])

      name  score  attempts qualify
0    Annie   74.0         3     yes
1     Jean   88.0         1     yes
2  Christa    5.0         2      no
3    Marco    9.0         1      no
4     Eren    NaN         5     yes
5    Armin   96.0         1     yes
6   Mikasa   90.0         2     yes
7    Sasha   62.0         3      no
8     Levi    NaN         2     yes
9    Erwin   98.0         1     yes
      name qualify
0    Annie     yes
1     Jean     yes
2  Christa      no
3    Marco      no
4     Eren     yes
5    Armin     yes
6   Mikasa     yes
7    Sasha      no
8     Levi     yes
9    Erwin     yes
    name  score  attempts qualify
0  Annie   74.0         3     yes
4   Eren    NaN         5     yes
7  Sasha   62.0         3      no
total rows: 10
total columns: 4
    name  score  attempts qualify
1   Jean   88.0         1     yes
5  Armin   96.0         1     yes
9  Erwin   98.0         1     yes
   name  score  attempts qualify
4  Eren    NaN         5     yes
8  Levi    NaN         2     yes

Aisha Beevi K M _______________________________________________________________________________________ 26-8-2022

# P5

In [34]:
#Pandas-5
import pandas as pd 
import numpy as np
student={"id":[ 1,2,3,4,5,6 ], "name": [ "Mikey" , "Hinata" , "Gon" , "Killua" , "Tanjiro" , "Eren" ],
         "age": [ 20,15,16,17,np.nan,22 ], "degree": [ "Bsc.Maths","Bsc.Physics",np.nan,"BA.English","BA.History","Bcom"],
         "cgpa": [ np.nan,2.4,2.7,4.1,4.8,3.5]} 
df=pd.DataFrame(student) 
print(df) 

cls=[2,3,3,1,1,2]
df['class']=cls 
print(df)

print("total no. of columns:",len(df.axes[1])) 

print(df.head(3)) 
print(df.tail(4))
 
df.dropna()
print(df)

df=df.drop(columns=['id']) 
print(df) 
 
d=df.head(5) 
t=d.tail(4)
print(t[['name','cgpa']]) 

mn=df["age"].mean()
print("mean age:",mn) 
df["age"]=df["age"].fillna(mn) 
print(df)

   id     name   age       degree  cgpa
0   1    Mikey  20.0    Bsc.Maths   NaN
1   2   Hinata  15.0  Bsc.Physics   2.4
2   3      Gon  16.0          NaN   2.7
3   4   Killua  17.0   BA.English   4.1
4   5  Tanjiro   NaN   BA.History   4.8
5   6     Eren  22.0         Bcom   3.5
   id     name   age       degree  cgpa  class
0   1    Mikey  20.0    Bsc.Maths   NaN      2
1   2   Hinata  15.0  Bsc.Physics   2.4      3
2   3      Gon  16.0          NaN   2.7      3
3   4   Killua  17.0   BA.English   4.1      1
4   5  Tanjiro   NaN   BA.History   4.8      1
5   6     Eren  22.0         Bcom   3.5      2
total no. of columns: 6
   id    name   age       degree  cgpa  class
0   1   Mikey  20.0    Bsc.Maths   NaN      2
1   2  Hinata  15.0  Bsc.Physics   2.4      3
2   3     Gon  16.0          NaN   2.7      3
   id     name   age      degree  cgpa  class
2   3      Gon  16.0         NaN   2.7      3
3   4   Killua  17.0  BA.English   4.1      1
4   5  Tanjiro   NaN  BA.History   4.8      1
5   6     Eren  22.0        Bcom   3.5      2
   id     name   age       degree  cgpa  class
0   1    Mikey  20.0    Bsc.Maths   NaN      2
1   2   Hinata  15.0  Bsc.Physics   2.4      3
2   3      Gon  16.0          NaN   2.7      3
3   4   Killua  17.0   BA.English   4.1      1
4   5  Tanjiro   NaN   BA.History   4.8      1
5   6     Eren  22.0         Bcom   3.5      2
      name   age       degree  cgpa  class
0    Mikey  20.0    Bsc.Maths   NaN      2
1   Hinata  15.0  Bsc.Physics   2.4      3
2      Gon  16.0          NaN   2.7      3
3   Killua  17.0   BA.English   4.1      1
4  Tanjiro   NaN   BA.History   4.8      1
5     Eren  22.0         Bcom   3.5      2
      name  cgpa
1   Hinata   2.4
2      Gon   2.7
3   Killua   4.1
4  Tanjiro   4.8
mean age: 18.0
      name   age       degree  cgpa  class
0    Mikey  20.0    Bsc.Maths   NaN      2
1   Hinata  15.0  Bsc.Physics   2.4      3
2      Gon  16.0          NaN   2.7      3
3   Killua  17.0   BA.English   4.1      1
4  Tanjiro  18.0   BA.History   4.8      1
5     Eren  22.0         Bcom   3.5      2